body {
    background-color: #FBFDFF;
    margin: 0%;
}

.top-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    width: 100%;
}

.welcom-left-part {
    width: 47%;
}

p {
    margin: 0%;
}

.name {
    font-family: 'Italiana';
    font-size: 80px;
}

.sentence {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.picture-right-part {
    width: 20%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.me{
    width: 20%;
    margin-top: 5%;
    height: 350px;
    width: 256px;
}

.middle-container {
    margin-top: 10%;
    background-color: #EAF1FF;
    border-top-left-radius: 35px 35px;
    border-top-right-radius: 35px 35px;
}

.title {
    font-family: 'Italiana';
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
}

.title p {
    margin-top: 8%;
}

.data-middle-part {
    font-family: 'Inter', sans-serif;
    font-size: 13.5px;
    display: flex;
    margin-top: 10%;
    justify-content: space-evenly;

}

.text-left-middle-part {
    display: flex;
    flex-direction: column;
}

.link {
    font-style: italic;
    transition: color 0.3s;
    margin: 0;
    padding: 2px;
}

.link:hover {
    color: white;
    background-color: #8BA5D8;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.informations {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.localisation,
.contact-email,
.linkedin,
.github {
    display: flex;
    align-items: center;
}

.localisation img,
.contact-email img,
.linkedin img,
.github img {
    margin-right: 5%;
}


.cv-right-middle-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8%;
    margin-right: 5%;
}

#cv {
    height: 700px;
    width: 500px;
}

button {
    margin-top: 10%;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    background-color: #cedfff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 255px;
    position: relative;
}

button:hover {
    background-color: #8BA5D8;
}

button img {
    margin-left: 5%;
}

.mon-parcours {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-left: 8%;
}

.informations-duree {
    display: flex;
    flex-direction: column;
}

.container-date {
    text-align: center;
    padding-top: 25px;
    width: 100px;
    height: 75px;
    border-radius: 50%;
    background-color: #cedfff;
}

.dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    line-height: 1.5;
}

.duree {
    border-left: 3px solid #cedfff;
    height: 210px;
    margin-left: 2.8%;
}

.contenu-parcours {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: -16.5%;
}

#logo-com-company {
    width: 120px;
    height: 70px;
}

.localisation-entreprise {
    font-weight: 100;
}

.contenu {
    margin-top: 2%;
    margin-bottom: 4%;
}

.show-article {
    color : #8BA5D8;
    font-style: italic;
    transition: color 0.3s;
    margin: 0;
    padding: 2px;
}

.show-article:hover {
    color: white;
    background-color: #8BA5D8;
    border-radius: 5px;
}


#logo-ynov {
    width: 125px;
    height: 50px;
}

#logo-lycee {
    width: 100px;
    height: 100px;
    margin-top: -2%;
}

.duree-lycee {
    border-left: 3px solid #FBFDFF;
    height: 150px;
    margin-left: 3%;
}

.informations-duree-lycee {
    margin-top: -1.1%;
}

.contenu-parcours-lycee {
    margin-top: -12.5%;
    margin-left: 10%;
}

.contenu-lycee {
    margin-top: 2%;
}


@media screen and (max-width: 1440px) {
    .middle-container {
        margin-top: 6%;
    }

    #cv {
        height: 500px;
        width: 350px;
    }

    .text-left-middle-part{
        margin-left: 5%;
        font-size: 12px;
        text-align: justify;
        width: 50%;
        height: 40%;
    }

    .duree{
        margin-left: 3.7%;  
        height: 210px;
    }

    .contenu-parcours{
        margin-top: -21%;
        margin-bottom: -20px;
        font-size: 12px;
        margin-left: 12%;
    }


    .contenu-parcours-lycee{
        margin-top: -16%;
        font-size: 12px;
        margin-left: 12%;
    }

}


@media screen and (max-width:1320px){
    .contenu-parcours{
        margin-top:-23%;
    }   
    .contenu-parcours-lycee{
        margin-top:-18%;
    }
}

@media screen and (max-width:1180px){
    .duree {
        margin-left: 4.4%;
        height: 190px;
    }

    .duree-lycee {
        margin-left: 4.4%;
    }

    .contenu-parcours-lycee{
        margin-top:-20%;
    }
}

@media screen and (max-width:1120px){

    .duree, .duree-lycee{
        margin-left: 4.5%;
    }

    .contenu-parcours{
        margin-top:-25%;
        margin-left:16%;
    }

    .contenu-parcours-lycee{
        margin-top:-22%;
        margin-left:16%;
    }
}

@media screen and (max-width:1080px){
    .contenu-parcours{
        margin-top:-25%;
        margin-left:16%;
    }

    .contenu-parcours-lycee{
        margin-top:-22%;
        margin-left:16%;
    }
}

@media screen and (max-width:1060px){
    .contenu-parcours{
        margin-left:16%;
        margin-top: -25%;
    }

    .contenu-parcours-lycee{
        margin-left:16%;
        margin-top: -23%;
    }

    .duree, .duree-lycee{
        margin-left: 5%;
    }
}


@media screen and (max-width:1040px){
    .contenu-parcours{
        margin-left:16%;
        margin-top: -25%;
    }

    .contenu-parcours-lycee{
        margin-left:16%;
        margin-top: -23%;
    }
}

@media screen and (max-width: 1020px) {

    .name {
        font-size: 60px;
    }

    .welcom-left-part{
        margin-left: 3%;
    }

    .me{
        height: 200px;
        width: 128px;
    }

    .title {
        font-size: 30px;
    }

    #cv {
        height: 375px;
        width: 250px;
    }

    button{
        width: 200px;
        font-size: 12px;
        padding: 5px;
    }

    .download-image{
        width: 20px;
        height: 20px;
    }

    .text-left-middle-part{
        margin-left: 5%;
        font-size: 12px;
        text-align: justify;
        width: 50%;
        height: 40%;
    }

    #localisation{
        width: 20px;
        height: 20px;
    }

    #mail{
        width: 20px;
        height: 20px;
    }

    #linkedin{
        width: 20px;
        height: 20px;
    }

    #github{
        width: 20px;
        height: 20px;
    }

    .cv-right-middle-part{
        margin-bottom: 20%;
    }

    .container-date {
        width: 85px;
        height: 60px;
    }

    .dates {
        font-size: 10px;
        line-height: 1.3;
        margin-top: -1%;
    }

    #logo-com-company {
        width: 100px;
        height: 60px;
    }

    #logo-ynov {
        width: 100px;
        height: 40px;
    }

    #logo-lycee {
        width: 80px;
        height: 80px;
    }

    .contenu-parcours{
        margin-top: -26.5%;
        font-size: 12px;
        margin-left: 14%;
    }

    .contenu-parcours-lycee{
        margin-top: -20%;
        font-size: 10px;
        margin-left: 12%;
    }

    .duree{
        margin-left: 4.4%;
        border-left: 2px solid #cedfff;
    }

    .duree-lycee {
        border-left: 1px #FBFDFF;
    }
    
}

@media screen and (max-width : 980px){
    .contenu-parcours{
        margin-top: -27.5%;
        font-size: 12px;
        margin-left: 14%;
    }

    .contenu-parcours-lycee{
        margin-top: -23%;
        font-size: 10px;
        margin-left: 12%;
    }

    .duree{
        margin-left: 4.7%;
    }
}


@media screen and (max-width: 940px){   

    .duree{
        margin-left: 5%;
    }

    .contenu-parcours{
        margin-top: -29%;
        margin-left: 14%;
    }

    .contenu-parcours-lycee{
        margin-top: -25%;
        margin-left: 14%;
    }

    #cv {
        height: 370px;
        width: 250px;
    }
}

@media screen and (max-width:900px){

    .contenu-parcours-lycee, .contenu-parcours{
        margin-left: 16%;
    }

    #cv {
        height: 365px;
        width: 250px;
    }
}

@media screen and (max-width:880px){

    .contenu-parcours-lycee {
        margin-top: -26%;
    }
    
    .contenu-parcours{
        margin-top: -30.5%;
    }

    #cv {
        height: 360px;
        width: 250px;
    }
}

@media screen and (max-width: 840px){   

    .duree{
        margin-left: 5.5%;
    }

    .contenu-parcours{
        margin-top: -32%;
    }
}

@media screen and (max-width: 800px){   
    .contenu-parcours{
        margin-top: -33.5%;
    }

    .contenu-parcours-lycee{
        margin-top: -28%;
    }

}

@media screen and (max-width: 780px){   

    .duree{
        margin-left: 5.5%;
    }

}


@media screen and (max-width: 760px){   
    .contenu-parcours{
        margin-top: -36.5%;
        margin-left: 17%;
    }

    .contenu-parcours-lycee{
        margin-top: -30%;
        margin-left: 17%;
    }

    .informations-duree-lycee{
        margin-top: -0.5%;
    }

    .duree{
        margin-left: 6%;
    }

}


@media screen and (max-width: 740px){   
    .cv-right-middle-part{
        margin-bottom: 30%;
    }

}


@media screen and (max-width: 720px){   
    .contenu-parcours{
        margin-top: -37.5%;
        margin-left: 17.5%;
    }

    .contenu-parcours-lycee{
        margin-top: -31%;
        margin-left: 17.5%;
    }

}


@media screen and (max-width: 700px){   
    .contenu-parcours{
        margin-top: -38.5%;
        margin-left: 18%;
    }

    .contenu-parcours-lycee{
        margin-top: -32%;
        margin-left: 18%;
    }

    .duree{
        margin-left: 6.5%;
    }

}


@media screen and (max-width: 680px){   
    .name {
        font-size: 50px;
    }

    .sentence {
        font-size: 15px;
    }

    .title {
        font-size: 25px;
    }

    .contenu-parcours{
        margin-top: -39%;
        margin-left: 18%;
    }

    .contenu-parcours-lycee{
        margin-top: -33%;
        margin-left: 18%;
    }

    .duree{
        margin-left: 6.5%;
    }

}


@media screen and (max-width: 660px){   

    .text{
        width: 92%;
    }

    .contenu-parcours{
        margin-top: -40.5%;
        margin-left: 19%;
    }

    .contenu-parcours-lycee{
        margin-top: -34%;
        margin-left: 19%;
    }

    .duree{
        margin-left: 7%;
    }

}


@media screen and (max-width: 640px){   

    .contenu-parcours{
        margin-top: -41.5%;
    }

    .contenu-parcours-lycee{
        margin-top: -36%;
    }

    .container-date{
        width: 75px;
        height: 50px;
    }

    .duree{
        margin-left: 6%;
    }

    .dates{
        margin-top: -8%;
    }

    .informations-duree-lycee{
        margin-top: 3px;
    }
}

@media screen and (max-width: 620px){   

    .cv-right-middle-part{
        margin-bottom: 40%;
    }

    .contenu-parcours{
        margin-top: -41.5%;
    }

    .contenu-parcours-lycee{
        margin-top: -36%;
    }
}


@media screen and (max-width: 600px){   
    .contenu-parcours{
        margin-top: -43%;
    }
    .contenu-parcours-lycee{
        margin-top: -37%;
    }

    .duree{
        margin-left: 6.5%;
    }

    .cv-right-middle-part{
        margin-bottom: 50%;
    }

}

@media screen and (max-width: 580px){   
    .name{
        font-size: 45px;
    }
    #cv {
        height: 350px;
        width: 250px;
    }
    .cv-right-middle-part{
        margin-bottom: 55%;
    }

    .contenu-parcours{
        margin-top: -44.5%;
    }

    .contenu-parcours-lycee{
        margin-top: -38%;
    }

    #logo-com-company{
        width: 92px;
        height: 55px;
        margin-top: -3%;
    }

    #logo-ynov{
        width: 90px;
        height: 36px;
    }

    #logo-lycee{
        width: 65px;
        height: 65px;
    }
    
}

@media screen and (max-width: 560px){   

    .contenu-parcours{
        margin-top: -46.5%;
    }

    .contenu-parcours-lycee{
        margin-top: -40%;
    }

    .duree{
        margin-left: 7%;
    }

    .informations-duree-lycee{
        margin-top: 5px;
    }

}

@media screen and (max-width: 540px){   

    .contenu-parcours{
        margin-top: -47.5%;
        margin-left: 20.5%;
    }

    .contenu-parcours-lycee{
        margin-top: -41%;
        margin-left: 20.5%;
    }

    .cv-right-middle-part{
        margin-bottom: 70%;
    }

    #cv {
        height: 325px;
        width: 230px;
    }
}

@media screen and (max-width: 520px){
    .informations{
        margin-top: -64%;
        margin-left: 107%;
        width: 100%;
    }

    .cv-right-middle-part{
        margin-bottom: 50%;
    }

    .contenu-parcours{
        margin-top: -50%;
        margin-left: 22.5%;
    }

    .contenu-parcours-lycee{
        margin-top: -43%;
        margin-left: 22.5%;
    }
}

@media screen and (max-width : 500px){
    .name {
        font-size: 40px;
    }

    .welcom-left-part{
        margin-left: 0%;
    }

    .me{
        height: 150px;
        width: 100px;
    }

    .top-container {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .informations{
        margin-top: -65%;
    }

    .duree{
        margin-left: 7.5%;
    }

    .contenu-parcours{
        margin-top: -51%;
        margin-left: 22.5%;
    }

    .contenu-parcours-lycee{
        margin-top: -44%;
        margin-left: 22.5%;
    }
}

@media screen and (max-width: 480px){   
    .contenu-parcours{
        margin-top: -52%;
    }

    .duree{
        margin-left: 8.5%;
    }

    .informations{
        margin-top: -90%;
    }

    .cv-right-middle-part{
        margin-bottom: 60%;
    }

    #logo-com-company{
        width: 78px;
        height: 46px;
    }

    #logo-ynov{
        width: 79px;
        height: 31px;
    }

    #logo-lycee{
        width: 50px;
        height: 50px;
    }

    .contenu-parcours{
        margin-top: -54%;
    }

    .contenu-parcours-lycee{
        margin-top: -47%;
    }

    .contenu, .contenu-lycee{
        text-align: justify;
        width: 92%;
    }
}


@media screen and (max-width: 460px){
    .informations{
        margin-top: -123%;
        margin-left: 112%;
    }

    .cv-right-middle-part{
        margin-bottom: 70%;
    }

    .contenu-parcours{
        margin-top: -56%;
        margin-left: 24%;
    }

    .contenu-parcours-lycee{
        margin-top: -48%;
        margin-left: 24%;
    }
}

@media screen and (max-width : 440px){
    .name {
        font-size: 35px;
    }
    .welcom-left-part{
        margin-left: 0%;
    }

    .me{
        height: 130px;
        width: 92px;
    }

    .top-container {
        margin-top: 12%;
        margin-bottom: 12%;
    }

    .cv-right-middle-part{
        margin-bottom: 80%;
    }

    .contenu-parcours{
        margin-top: -58.5%;
        margin-left: 25%;
    }

    .contenu-parcours-lycee{
        margin-top: -50%;
        margin-left: 25%;
    }
}

@media screen and (max-width: 420px) {
    .sentence {
        font-size: 14px;
    }

    #cv {
        height: 300px;
        width: 200px;
    }

    .informations{
        margin-top: -130%;
    }

    .cv-right-middle-part{
        margin-bottom: 90%;
    }

    .container-date{
        width: 65px;
        height: 40px;
    }

    .dates{
        font-size: 8px;
        line-height: 1.5;
        margin-top: -13%;
    }

    .contenu-parcours{
        margin-top: -60%;
        margin-left: 26%;
    }
    
}