body {
    background-color: #FBFDFF;
    margin: 0%;
}

.title-article {
    margin-top: 10%;
    font-family: 'Italiana';
    font-size: 40px;
    text-align: center;
}

.container-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-left: 10%;
    width: 80%;
    margin-top: 5%;
}

.important {
    font-family: 'Inter', sans-serif;
    color: #8BA5D8;
}

.text-article1 {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

#image-log-collector {
    width: 50%;
    height: 250px;
    margin-left: -8%;
}

#image-analyse-log {
    width: 50%;
    height: auto;
}

.schema-explicatif {
    display: flex;
    width: 110%;
    justify-content: space-evenly;
}

#image-decodeur {
    width: 50%;
    height: auto;
    margin-bottom: -7%;
}

.retour {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #8BA5D8;
    transition: color 0.3s;
    margin: 0;
    padding: 5px;
    margin-right: 95%;
}

.retour:hover {
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #8BA5D8;
    border-radius: 5px;
    font-size: 20px;
}


a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:768px) {
    .title-article {
        font-size: 30px;
    }

    .text-article1 {
        font-size: 13px;
    }

    #image-analyse-log {
        width: 270px;
        height: 147px;
    }

    #image-log-collector {
        width: 284px;
        height: 135px;
    }

    .retour {
        font-size: 15px;
    }

}

@media screen and (max-width:425px) {
    .title-article {
        margin-top: 15%;
    }

    .schema-explicatif {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #image-analyse-log {
        width: 318px;
        height: 147px;
        margin-right: 10%;
    }

    #image-log-collector {
        width: 307px;
        height: 135px;
    }

    #image-decodeur {
        width: 100%;
        height: auto;
        margin-bottom: -25%;

    }

    .container-article{
        margin-bottom: -59%;
    }
}