body{
    background-color: #FBFDFF;
    margin: 0%;
}

.title-contact {
    font-family: 'Italiana';
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11%;
    width: 100%;
    height: 5%;
}

.contact-container {
    display: flex;
    margin-top: 8%;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input#nom {
    margin-bottom: 16%;
    margin-top: 16%;
}

input[type=text] {
    border: solid #cedfff;
    height: 25px;
    width: 450px;
    background-color: #FCFDFF;
    border-width: 1.5px 1.5px 1.5px 1.5px;
    padding: 3%;
}

input[type=text]:focus {
    border: solid #cedfff;
    border-width: 1.5px 1.5px 1.5px 1.5px;
    outline: none !important;
}

textarea {
    border: solid #cedfff;
    border-width: 1.5px 1.5px 1.5px 1.5px;
    background-color: #FCFDFF;
    height: 200px;
    width: 430px;
    padding: 3%;
}

textarea:focus {
    border: solid #cedfff;
    border-width: 1.5px 1.5px 1.5px 1.5px;
    background-color: #FCFDFF;
    outline: none !important;
}

::placeholder {
    font-family: 'Inter', sans-serif;
    color: rgba(139, 165, 216, 0.5);
}

.envoyer-btn {
    width: 430px;
    margin-top: 8%;
    border: solid #cedfff;
    border-radius: 20px;
    background-color: #cedfff;
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
    position: relative;
}

footer{
    margin-top: 10%;
    width: 100%;
    background-color: #cedfff;
}

.data-footer{
    display: flex;
    justify-content: space-around;
    padding: 10%;
    color:white;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.footer-logo{
    display: flex;
    flex-direction: column;
}

.link-social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10%;
}

.footer-navigation-text p{
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-style: italic;
    color: white; 
    transition: color 0.3s;
    margin: 0;
    padding: 5px;
}

.footer-navigation-text a:hover p, .footer-navigation-text a:focus p, .footer-navigation-text a.active p {
    color: black;
    background-color: #FCFDFF;
    border-radius: 5px; /* Optionnel: arrondi des coins du rectangle */
}

.footer-contact-text p{
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-style: italic;
    color: white; 
    margin: 0;
    padding: 5px;
    cursor: pointer;
}

.footer-contact-text a:hover p, .footer-contact-text a:focus p, .footer-contacts-text a.active p {
    color: black;
    background-color: #FCFDFF;
    border-radius: 5px; /* Optionnel: arrondi des coins du rectangle */
}

