body {
    background-color: #FBFDFF;
    margin: 0%;
}

.title-page {
    font-family: 'Italiana';
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11%;
    width: 100%;
    height: 5%;
}

.top-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8%;
    width: 100%;
}

.entreprise-left-part {
    width: 47%;
    margin-top: -2%;
}


#logo-com-company {
    width: 35%;
    height: auto;
}

.sentence {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: justify;
}

.important {
    font-family: 'Inter', sans-serif;
    color: #8BA5D8;
    font-style: italic;
}

.localisation-entreprise {
    width: 400px;
    height: 350px;
    border: 0;
    border-radius: 5px;
}

.middle-container {

    background-color: #EAF1FF;
    border-top-left-radius: 35px 35px;
    border-top-right-radius: 35px 35px;
    margin-top: 10%;
}

.title {
    font-family: 'Italiana';
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
}

.title p {
    margin-top: 8%;
}

.container-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 13.5px;
    margin-top: 3%;
}

.pole-metier {
    display: flex;
    justify-content: space-around;
}

.right-vertical-pole {
    margin-right: 50%;
}

.left-vertical-pole {
    margin-left: -4%;
}

.text {
    width: 80%;
    margin-bottom: 8%;
    margin-left: 25%;
}

.sous-text {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 12px;
}

.all-team {
    display: flex;
    justify-content: space-around;
}

.right-vertical-team {
    margin-right: 47%;
}

.left-vertical-team {
    margin-left: -3%;
}

.link {
    color: #8BA5D8;
    font-style: italic;
    transition: color 0.3s;
    margin: 0;
    padding: 2px;
}

.link:hover {
    color: white;
    background-color: #8BA5D8;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.text-bottom {
    width: 80%;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 25%;
}

@media screen and (max-width:1024px) {
    .title-page {
        font-size: 40px;
    }

    .title {
        font-size: 30px;
    }

    #logo-com-company {
        width: 30%;
        height: auto;
    }

    .sentence {
        font-size: 13px;
    }

    .localisation-entreprise {
        width: 300px;
        height: 250px;
    }

    .text {
        font-size: 12px;
    }

    .sous-text {
        font-size: 12px;
    }

    .left-vertical-pole {
        margin-left: -1%;
    }

    .right-vertical-team {
        margin-right: 40%;
    }

    .left-vertical-team {
        margin-left: 0%;
    }

    .text-bottom {
        font-size: 12px;
        margin-right: 18%;

    }
}

@media screen and (max-width:768px) {
    .title-page {
        font-size: 30px;
    }

    .title {
        font-size: 20px;
    }

    .sentence {
        font-size: 12px;
    }

    .localisation-entreprise {
        width: 250px;
        height: 200px;
    }

    .text {
        font-size: 10px;
        margin-right: 5%;
    }

    .sous-text {
        font-size: 10px;
    }

    .text-bottom {
        font-size: 10px;
        margin-right: 18%;
        margin-bottom: 5%;

    }
}

@media screen and (max-width:425px) {
    .title-page {
        font-size: 25px;
        margin-top: 20%;
    }

    .top-container {
        flex-direction: column;
    }

    .title {
        font-size: 15px;
    }

    .sentence {
        font-size: 10px;
    }

    .entreprise-left-part {
        margin-right: 1%;
    }

    .localisation-entreprise {
        width: 200px;
        height: 150px;
    }

    .text {
        font-size: 10px;
        margin-right: 17%;
    }

    .sous-text {
        font-size: 10px;
    }

    .right-vertical-pole {
        margin-right: -12%;
    }

    .right-vertical-team {
        margin-right: -4%;
    }

    .text-bottom {
        font-size: 10px;
        margin-right: 18%;
        margin-bottom: 0%;

    }
}

@media screen and (max-width:375px){
    .title-page{
        margin-top: 20%;
    }
    #logo-com-company{
        width: 40%;
        height: auto;
    }
    .text-bottom{
        margin-bottom: 0%;
    }
}