a{
    text-decoration: none;
    position: relative;
}

footer{
    margin-top: 10%;
    width: 100%;
    background-color: #cedfff;
}

.footer-article{
    margin-top: 13.5%;
}

.data-footer{
    display: flex;
    justify-content: space-around;
    padding: 10%;
    color:white;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.footer-logo{
    display: flex;
    flex-direction: column;
}

.link-social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10%;
}

.footer-navigation-text, .footer-contact-text{
    color: #27344c;
}

.footer-navigation-text p{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: #27344c; 
    transition: color 0.3s;
    margin: 0;
    padding: 5px;
}

.footer-navigation-text a:hover p, .footer-navigation-text a:focus p, .footer-navigation-text a.active p {
    color: black;
    background-color: #FCFDFF;
    border-radius: 5px; /* Optionnel: arrondi des coins du rectangle */
}

.footer-contact-text p{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: #27344c;
    margin: 0;
    padding: 5px;
    cursor: pointer;
}

.footer-contact-text a:hover p, .footer-contact-text a:focus p, .footer-contacts-text a.active p {
    color: black;
    background-color: #FCFDFF;
    border-radius: 5px; /* Optionnel: arrondi des coins du rectangle */
}

@media screen and (max-width: 1020px){

    .big-logo{
        height: 77px;
        width: 147px;
    }

    .footer-artcilce{
        margin-top: 22.5%;
    }

}

@media screen and (max-width: 768px){
    .data-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10%;
    }

    .big-logo{
        height: 50px;
        width: 100px;
    }

    .footer-navigation-text p, .footer-contact-text p{
        font-size: 10px;
    }

    .footer-navigation-text, .footer-contact-text{
        font-size: 12px;
    }

    .logo-linkedin{
        height: 20px;
        width: 20px;
    }

    .logo-github{
        height: 20px;
        width: 20px;
    }

}

@media screen and (max-width: 425px){
    .footer-article{
        margin-top: 47.5%;
    }
    .data-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10%;
    }

    .big-logo{
        height: 30px;
        width: 60px;
    }

    .footer-navigation-text p, .footer-contact-text p{
        font-size: 8px;
    }

    .footer-navigation-text, .footer-contact-text{
        font-size: 10px;
    }

    .logo-linkedin{
        height: 20px;
        width: 20px;
    }

    .logo-github{
        height: 20px;
        width: 20px;
    }

}

@media screen and (max-width: 428px){
    .footer-article{
        margin-top: 73.5%;
    }
    .data-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10%;
    }

    .big-logo{
        height: 30px;
        width: 60px;
    }

    .footer-navigation-text p, .footer-contact-text p{
        font-size: 8px;
    }

    .footer-navigation-text, .footer-contact-text{
        font-size: 10px;
    }

    .logo-linkedin{
        height: 20px;
        width: 20px;
    }

    .logo-github{
        height: 20px;
        width: 20px;
    }
}

@media screen and (max-width: 414px){
    .footer-article{
        margin-top: 70.5%;
    }
    .data-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10%;
    }

    .big-logo{
        height: 30px;
        width: 60px;
    }

    .footer-navigation-text p, .footer-contact-text p{
        font-size: 8px;
    }

    .footer-navigation-text, .footer-contact-text{
        font-size: 10px;
    }

    .logo-linkedin{
        height: 20px;
        width: 20px;
    }

    .logo-github{
        height: 20px;
        width: 20px;
    }

}

@media screen and (max-width:390px){
    .footer-article{
        margin-top: 64.5%;
    }
}

@media screen and (max-width:375px){
    .footer-article{
        margin-top: 64.5%;
    }
}

@media screen and (max-width: 325px){
    .footer-article{
        margin-top: 64.5%;
    }
    .data-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10%;
    }

    .big-logo{
        height: 30px;
        width: 60px;
    }

    .footer-navigation-text p, .footer-contact-text p{
        font-size: 6px;
    }

    .footer-navigation-text, .footer-contact-text{
        font-size: 8px;
    }

    .logo-linkedin{
        height: 15px;
        width: 15px;
    }

    .logo-github{
        height: 15px;
        width: 15px;
    }

}

@media screen and (max-width:320px){
    .footer-article{
        margin-top: 31.5%;
    }
}

