a{
    text-decoration: none;
    position: relative;
}

footer{
    margin-top: 10%;
    width: 100%;
    background-color: #cedfff;
}

.footer-article{
    margin-top: 12%;
}

.data-footer{
    display: flex;
    justify-content: space-around;
    padding: 10%;
    color:white;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.footer-logo{
    display: flex;
    flex-direction: column;
}

.link-social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10%;
}

.footer-navigation-text p{
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-style: italic;
    color: white; 
    transition: color 0.3s;
    margin: 0;
    padding: 5px;
}

.footer-navigation-text a:hover p, .footer-navigation-text a:focus p, .footer-navigation-text a.active p {
    color: black;
    background-color: #FCFDFF;
    border-radius: 5px; /* Optionnel: arrondi des coins du rectangle */
}

.footer-contact-text p{
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-style: italic;
    color: white; 
    margin: 0;
    padding: 5px;
    cursor: pointer;
}

.footer-contact-text a:hover p, .footer-contact-text a:focus p, .footer-contacts-text a.active p {
    color: black;
    background-color: #FCFDFF;
    border-radius: 5px; /* Optionnel: arrondi des coins du rectangle */
}

