/*-----SCROLL BAR STYLE-----*/
body::-webkit-scrollbar {
    width: 8px;               
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #8BA5D8;    
    border-radius: 20px; 
  }

/*-----END SCROLL BAR STYLE-----*/

/*-----HEADER-----*/
.header {
    height: 13vh;
    width: 100%;
    background-color: #CEDFFF;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Kodchasan', sans-serif;
    position: fixed;
    top: 0;
    margin-left: -8px;

}

#logo-portfolio {
    height: 30px;
}

.home-header {
    cursor: pointer;
}

.about-me-header {
    cursor: pointer;
}

.project-header {
    cursor: pointer;
}

.contact-header {
    cursor: pointer;
}

/*----- END HEADER-----*/

/*-----HOME SQAURE LEFT PART (DETAILS ABOUT ME)-----*/

.square-home {
    height: 385px;
    border: 2px solid #CEDFFF;
    font-family: 'Kodchasan', sans-serif;
    width: 95%;
    margin: 0 auto;
    display: flex;
}

.home-left-part {
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.home-left {
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.name {
    font-size: 30px;
}

.status {
    font-size: 20px;
}

.studying-place {
    display: flex;
    font-size: 14px;
}

#ping {
    height: 20px;
    width: 20px;
}

a {
    display: flex;
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    color: #8BA5D8;
}

.email-part {
    display: flex;
    font-size: 14px;
}

#email {
    height: 20px;
    width: 20px;
}

.title-social-network {
    font-size: 14px;
}

.social-network {
    display: flex;
    width: 25%;
    justify-content: space-between;
    margin-top: 8px;
}

#linkedin {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#github {
    height: 25px;
    width: 25px;
    cursor: pointer;
}
/*-----END HOME SQUARE LEFT PART */

/*-----HOME SQUARE RIGHT PART (PICTURE OF ME) */

.home-right-part {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.home-right {
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

#emma-picard {
    height: 250px;
    width: 250px;
}
/*----- END HOME SQUARE RIGHT PART (PICTURE OF ME) */

/*-----SPACEBAR BETWEEN HOME AND ABOUT ME */

.spacebar {
    height: 2px;
    width: 100%;
    width: 95%;
    margin: 0 auto;
    background-color: #CEDFFF ;
}

/*----- END SPACEBAR BETWEEN HOME AND ABOUT ME */

/*-----ABOUT ME SQAURE LEFT PART (WORD CLOUD)-----*/

.square-about-me {
    height: 390px;
    border: 2px solid #CEDFFF;
    font-family: 'Kodchasan', sans-serif;
    width: 95%;
    margin: 0 auto;
    display: flex;
}

.about-me-left-part{
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.word-cloud-image{
    margin-right: 150px;
}

#word-cloud{
   height: 300px;
   width: 300px;
}
/*-----ABOUT ME SQAURE LEFT PART (WORD CLOUD)-----*/

/*-----ABOUT ME SQAURE RIGHT PART (TEXT)-----*/

.about-me-right-part{
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-me-title{
    margin-right: 100px;
}

.about-me-text{
    margin-right: 100px;
    text-align: justify;
}

.download-resume{
    border-radius: 50px;
    height: 40px;
    width: 200px;
    background-color: #CEDFFF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 100px;
}

#download{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
/*-----ABOUT ME SQAURE RIGHT PART (TEXT)-----*/



