/*-----SCROLL BAR STYLE-----*/
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #8BA5D8;
    border-radius: 20px;
}

/*-----END SCROLL BAR STYLE-----*/

/*-----HEADER-----*/
.header {
    height: 13vh;
    width: 100%;
    background-color: #CEDFFF;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Kodchasan', sans-serif;
    position: fixed;
    top: 0;
    margin-left: -8px;

}

/*-----LOGO-----*/
#logo-portfolio {
    height: 30px;
}

.home-header {
    cursor: pointer;
}

.about-me-header {
    cursor: pointer;
}

.project-header {
    cursor: pointer;
}

.contact-header {
    cursor: pointer;
}

/*----- END HEADER-----*/

/*-----HOME SQAURE LEFT PART (DETAILS ABOUT ME)-----*/

.square-home {
    height: 385px;
    border: 2px solid #CEDFFF;
    font-family: 'Kodchasan', sans-serif;
    width: 95%;
    margin: 0 auto;
    display: flex;
}

.home-left-part {
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.home-left {
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.name {
    font-size: 30px;
}

.status {
    font-size: 20px;
}

.studying-place {
    display: flex;
    font-size: 14px;
}

/*-----STUDYING PLACE IMAGE-----*/
#ping {
    height: 20px;
    width: 20px;
}

.name-school:hover {
    cursor: pointer;
    color: red;
}

a {
    display: flex;
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

.email-part {
    display: flex;
    font-size: 14px;
}

.email:hover {
    cursor: pointer;
    color: #fed049;
}

/*-----EMAIL IMAGE-----*/
#email {
    height: 20px;
    width: 20px;
}

.title-social-network {
    font-size: 14px;
}

.social-network {
    display: flex;
    width: 25%;
    justify-content: space-between;
    margin-top: 8px;
}

/*-----LINKEDIN IMAGE-----*/
#linkedin {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

/*-----GITHUB IMAGE-----*/
#github {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

/*-----END HOME SQUARE LEFT PART */

/*-----HOME SQUARE RIGHT PART (PICTURE OF ME) */

.home-right-part {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.home-right {
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

/*-----PICTURE OF ME-----*/
#emma-picard {
    height: 250px;
    width: 250px;
}

/*----- END HOME SQUARE RIGHT PART (PICTURE OF ME) */

/*-----SPACEBAR BETWEEN HOME AND ABOUT ME */

.spacebar {
    height: 2px;
    width: 95%;
    margin: 0 auto;
    background-color: #CEDFFF;
}

/*----- END SPACEBAR BETWEEN HOME AND ABOUT ME */

/*-----ABOUT ME SQAURE LEFT PART (WORD CLOUD)-----*/

.square-about-me {
    height: 390px;
    border: 2px solid #CEDFFF;
    font-family: 'Kodchasan', sans-serif;
    width: 95%;
    margin: 0 auto;
    display: flex;
}

.about-me-left-part {
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.word-cloud-image {
    margin-right: 150px;
}

/*-----WORD CLOUD IMAGE-----*/
#word-cloud {
    height: 300px;
    width: 300px;
}

/*-----END ABOUT ME SQAURE LEFT PART (WORD CLOUD)-----*/

/*-----ABOUT ME SQAURE RIGHT PART (TEXT)-----*/

.about-me-right-part {
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-me-title {
    margin-right: 100px;
}

.about-me-text {
    margin-right: 100px;
    text-align: justify;
}

.download-resume {
    border-radius: 50px;
    height: 40px;
    width: 250px;
    background-color: #CEDFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 100px;
}

.download-resume:hover {
    cursor: pointer;
    background-color: #8BA5D8;
}

.download {
    color: white;
}

.download:hover {
    cursor: pointer;
}

/*-----DOWNLOAD ICON-----*/
#download {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

/*-----END ABOUT ME SQAURE RIGHT PART (TEXT)-----*/

/*-----PROJECTS PART----- */
.square-projects {
    height: 390px;
    border: 2px solid #CEDFFF;
    font-family: 'Kodchasan', sans-serif;
    width: 95%;
    margin: 0 auto;
    display: flex;
}

.projects-title {
    font-family: 'Kodchasan', sans-serif;
    display: flex;
    justify-content: center;
    height: 5%;
    width: 100%;
    font-size: 17px;
    margin-top: 15px;
}

/*-----END PROJECTS PART----- */


/*-----CONTACTS LEFT PART----- */
.square-contact {
    height: 550px;
    border: 2px solid #CEDFFF;
    font-family: 'Kodchasan', sans-serif;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact-title {
    font-family: 'Kodchasan', sans-serif;
    display: flex;
    justify-content: center;
    height: 5%;
    width: 100%;
    font-size: 17px;
    margin-top: 15px;
}

.content-data-contact {
    display: flex;
    height: 95%;
    width: 100%;
}


.contact-left-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 47.5%;
    height: 95%;
    
}


.email-square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CEDFFF;
    height: 75px;
    width: 430px;

}

.data-email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Kodchasan', sans-serif;
}

.email-title {
    font-family: 'Kodchasan', sans-serif;
    font-size: 14px;
}

.email-link {
    color: white;
}

.email-link:hover {
    color: #fed049;
    cursor: pointer;
}

#email-contact {
    height: 50px;
    width: 50px;

}

.social-square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CEDFFF;
    height: 75px;
    width: 430px;
}

.image-social-contact {
    margin-right: 10px;
}

.data-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Kodchasan', sans-serif;
    margin-right: 30px;
}

.social-title {
    font-family: 'Kodchasan', sans-serif;
    font-size: 14px;
}

.social-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

#social-contact {
    height: 50px;
    width: 50px;
}

.seperate-bar-contact {
    margin-top: 25px;
    height: 85%;
    width: 5%;
    display: flex;
    justify-content: center;

}

.bar-contact {
    height: 100%;
    width: 2px;
    background-color: #CEDFFF;
}

/*-----END CONTACTS LEFT PART----- */

/*-----CONTACTS RIGHT PART----- */
.contact-right-part {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 47.5%;
    justify-content: space-evenly;
    margin: auto;
}

input#first-name.input-first-name {
    border: 1px solid #8BA5D8;
    color: #8ba5d8ad;
    height: 35px;
    width: 350px;
    font-family: 'Kodchasan', sans-serif;
}

input#first-name.input-first-name:focus {
    outline: none;
    border: 1px solid #8BA5D8;
    padding-left: 5px;
}

::placeholder {
    color: #8ba5d8ad;
    padding-left: 10px;
    font-family: 'Kodchasan', sans-serif;
    font-size: 16px;
}

input#last-name.input-last-name{
    border: 1px solid #8BA5D8;
    color: #8ba5d8ad;
    height: 35px;
    width: 350px;
    font-family: 'Kodchasan', sans-serif;
}

input#last-name.input-last-name:focus {
    outline: none;
    border: 1px solid #8BA5D8;
    padding-top: 5px;
}

input#email.input-email-reply-to{
    border: 1px solid #8BA5D8;
    color: #8ba5d8ad;
    height: 35px;
    width: 350px;
    font-family: 'Kodchasan', sans-serif;
}

input#email.input-email-reply-to:focus {
    outline: none;
    border: 1px solid #8BA5D8;
    padding-left: 5px;
}

.input-message{
    border: 1px solid #8BA5D8;
    color: #8ba5d8ad;
    height: 140px;
    width: 350px;
    font-family: 'Kodchasan', sans-serif;
}

.input-message:focus {
    outline: none;
    border: 1px solid #8BA5D8;
    padding-left: 5px;
    
}

.input-message::placeholder {
    padding-top: 5px;
}

textarea {
    overflow: auto;
    resize: vertical;
}

.button-submit-message{
    border-radius: 50px;
    height: 35px;
    width: 350px;
    background-color: #CEDFFF;
}

.submit-message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* margin-top: 20px;
    margin-right: 100px; */
    color: white;
}

.button-submit-message:hover {
    cursor: pointer;
    background-color: #8BA5D8;
}
/*-----END CONTACTS RIGHT PART----- */

/*-----POPUP LINKEDIN----- */
#overlayLinkedin {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgb(0 0 0 / 84%);
}

#popupLinkedin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 400px;
    height: 400px;
    font-family: 'Kodchasan', sans-serif;
    border: #CEDFFF 2px solid;
}

.top-content{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkedin-image{
    width: 35px;
    height: 35px;
}

.linkedin-qrcode{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkedin-qrcode{
    width: 250px;
    height: 250px;
}

.linkedin-link{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.link-linkedin{
    cursor: pointer;
    color: #0b69c7;
    font-weight: bold;
}
/*-----END POPUP LINKEDIN----- */

/*-----POPUP GITHUB----- */
#overlayGithub {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgb(0 0 0 / 84%);
}

#popupGithub {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 400px;
    height: 400px;
    font-family: 'Kodchasan', sans-serif;
    border: #CEDFFF 2px solid;
}

.top-content{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#github-image{
    width: 35px;
    height: 35px;
}

.github-qrcode{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#github-qrcode{
    width: 250px;
    height: 250px;
}

.github-link{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.link-github{
    cursor: pointer;
    color: #0b69c7;
    font-weight: bold;
}
/*-----END POPUP GITHUB----- */

/*-----FOOTER----- */
.copyright {
    font-family: 'Kodchasan', sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----END FOOTER----- */