body::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #dbdbdb;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #8BA5D8;
    /* color of the scroll thumb */
    border-radius: 3px;
    /*roundness of the scroll thumb */
    border: 1px solid #8BA5D8;
    /* creates padding around scroll thumb */
}

body {
    background-color: #FBFDFF;
}

/*-----NAVBAR-----*/
.header {
    height: 8vh;
    width: 85%;
    background-color: #FCFDFF;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 2%;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.1));
    margin-left: 7%;
}

.text-navbar {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: black;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-left: 30%;
}

/* link style */
/* status initial */
.text-navbar a {
    text-decoration: none;
    color: black;
    position: relative;
}

.text-navbar a p {
    margin: 0;
    padding: 5px;
    transition: color 0.3s;
}

/* colors modification */
.text-navbar a:hover p,
.text-navbar a:focus p,
.text-navbar a.active p {
    color: white;
    background-color: #CEDFFF;
    border-radius: 5px;
    /* Optionnel: arrondi des coins du rectangle */
}


/*-----LOGO-----*/
#logo-portfolio {
    margin-left: 50%;
    height: 30px;
}

.home-header {
    cursor: pointer;
}

.about-me-header {
    cursor: pointer;
}

.project-header {
    cursor: pointer;
}

.contact-header {
    cursor: pointer;
}

/*----- END NAVBAR-----*/
@media screen and (max-width:1140px) {
    .header {
        height: 8vh;
        width: 90%;
        margin-left: 4.5%;
        position: fixed;
        top: 2%;
        border-radius: 20px;
    }
}

@media screen and (max-width: 1080px) {
    .header {
        height: 8vh;
        width: 90.5%;
        margin-left: 4.5%;
        position: fixed;
        top: 2%;
        border-radius: 20px;
    }
}

@media screen and (max-width: 1040px) {
    .header {
        height: 8vh;
        width: 91%;
        margin-left: 4.5%;
        position: fixed;
        top: 2%;
        border-radius: 20px;
    }
}

@media screen and (max-width: 1020px) {
    .header {
        height: 8vh;
        width: 90%;
        margin-left: 4.5%;
        position: fixed;
        top: 2%;
        border-radius: 20px;
    }
}

@media screen and (max-width : 940px){
    .header {
        height: 8vh;
        width: 92%;
        margin-left: 4%;
        position: fixed;
        top: 2%;
        border-radius: 20px;
    }
}


@media screen and (max-width: 760px) {
    .header {
        height: 7vh;
        width: 90%;
        margin-left: 5.2%;
        position: fixed;
        top: 2%;
        border-radius: 10px;
    }

    .text-navbar {
        margin-left: 0;
    }

    #logo-portfolio {
        height: 23px;
        margin-left: 15%;
    }

    .text-navbar a p {
        font-size: 15px;
        padding: 2px;
    }

    .text-navbar a:hover p,
    .text-navbar a:focus p,
    .text-navbar a.active p {
        border-radius: 3px;
    }
}

@media screen and (max-width: 560px) {
    .header {
        height: 6.5vh;
        width: 91%;
        margin-left: 5.5%;
        position: fixed;
        top: 2%;
        border-radius: 10px;
    }

    .text-navbar {
        margin-left: 0;
        font-size: 14px;
    }

    #logo-portfolio {
        height: 22px;
        margin-left: 15%;
    }

    .text-navbar a p {
        font-size: 14px;
        padding: 2px;
    }

    .text-navbar a:hover p,
    .text-navbar a:focus p,
    .text-navbar a.active p {
        border-radius: 3px;
    }
}

@media screen and (max-width: 520px) {
    .header {
        height: 6vh;
        width: 91%;
        margin-left: 5%;
        position: fixed;
        top: 2%;
        border-radius: 10px;
    }

    .text-navbar {
        margin-left: 0;
        font-size: 13px;
    }

    .text-navbar a p {
        font-size: 13px;
        padding: 2px;
    }

    .text-navbar a:hover p,
    .text-navbar a:focus p,
    .text-navbar a.active p {
        border-radius: 3px;
    }
}


@media screen and (max-width: 500px) {
    .header {
        height: 6.5vh;
        width: 91%;
        margin-left: 5%;
        position: fixed;
        top: 2%;
        border-radius: 10px;
    }

    .text-navbar {
        margin-left: 0;
        font-size: 13px;
    }

    #logo-portfolio {
        height: 21px;
        margin-left: 15%;
    }

    .text-navbar a p {
        font-size: 13px;
        padding: 2px;
    }

    .text-navbar a:hover p,
    .text-navbar a:focus p,
    .text-navbar a.active p {
        border-radius: 3px;
    }
}

@media screen and (max-width: 440px) {
    .header {
        height: 6vh;
        width: 91%;
        margin-left: 5%;
        position: fixed;
        top: 2%;
        border-radius: 10px;
    }

    .text-navbar {
        margin-left: 0;
        font-size: 12.5px;
    }

    #logo-portfolio {
        height: 21px;
        margin-left: 15%;
    }

    .text-navbar a p {
        font-size: 12.5px;
        padding: 2px;
    }

    .text-navbar a:hover p,
    .text-navbar a:focus p,
    .text-navbar a.active p {
        border-radius: 3px;
    }
}

@media screen and (max-width: 420px) {
    .header {
        height: 6vh;
        width: 91%;
        margin-left: 5%;
        position: fixed;
        top: 2%;
        border-radius: 10px;
    }

    .text-navbar {
        margin-left: 0;
        font-size: 12px;
    }

    #logo-portfolio {
        height: 20px;
        margin-left: 10%;
    }

    .text-navbar a p {
        font-size: 12px;
        padding: 2px;
    }

    .text-navbar a:hover p,
    .text-navbar a:focus p,
    .text-navbar a.active p {
        border-radius: 3px;
    }
}

@media screen and (max-width: 380px) {
    .header {
        height: 5.5vh;
        width: 92%;
        margin-left: 5%;
        position: fixed;
        top: 2%;
        border-radius: 10px;
    }

    .text-navbar {
        margin-left: 0;
        font-size: 11px;
    }

    #logo-portfolio {
        height: 20px;
        margin-left: 10%;
    }

    .text-navbar a p {
        font-size: 11px;
        padding: 2px;
    }

    .text-navbar a:hover p,
    .text-navbar a:focus p,
    .text-navbar a.active p {
        border-radius: 3px;
    }
}


@media screen and (max-width: 320px) {
    .header {
        height: 5vh;
        width: 90%;
        margin-left: 4.5%;
        position: fixed;
        top: 1%;
        border-radius: 10px;
    }

    .text-navbar {
        margin-left: 0;
        font-size: 10px;
    }

    #logo-portfolio {
        height: 20px;
        margin-left: 10%;
    }

    .text-navbar a p {
        font-size: 10px;
        padding: 2px;
    }

    .text-navbar a:hover p,
    .text-navbar a:focus p,
    .text-navbar a.active p {
        border-radius: 3px;
    }
}