<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link href="https://fonts.cdnfonts.com/css/kodchasan" rel="stylesheet">
    <title>Emma Picard</title>
    <!--import script ici-->
</head>

<body>
    <div class="main">
        <div class="header">
            <div class="logo-portfolio">
                <img src="/img/logo-portfolio.png" alt="logo" id="logo-portfolio">
            </div>
            <div class="home-header">
                <p>HOME</p>
            </div>
            <div class="about-me-header">
                <p>ABOUT ME</p>
            </div>
            <div class="project-header">
                <p>PROJECT</p>
            </div>
            <div class="contact-header">
                <p>CONTACT</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="home">
        </div>
    </div>

</body>

</html>