<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link href="https://fonts.cdnfonts.com/css/kodchasan" rel="stylesheet">
    <title>Emma Picard</title>
    <!--import script ici-->
</head>

<body>
    <!-- <header>
        <nav>
            <ul>
                <li><a href="#section1">Section 1</a></li>
                <li><a href="#section2">Section 2</a></li>
                <li><a href="#section3">Section 3</a></li>
            </ul>
        </nav>
    </header> -->
    <div class="main">
        <div class="header">
            <div class="logo-portfolio">
                <img src="/img/logo-portfolio.png" alt="logo" id="logo-portfolio">
            </div>
            <div class="home-header">
                <p>HOME</p>
            </div>
            <div class="about-me-header">
                <p>ABOUT ME</p>
            </div>
            <div class="project-header">
                <p>PROJECT</p>
            </div>
            <div class="contact-header">
                <p>CONTACT</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="square-home">
            <div class="home-left-part">
                <div class="home-left">
                    <div class="name">
                        Emma Picard
                    </div>
                    <div class="status">
                        Computer science student
                    </div>
                    <br>
                    <br>
                    <div class="studying-place">
                        <a href="https://www.ynov.com/formation/bachelors/informatique/">
                            <div class="ping-image">
                                <img src="/img/ping.png" alt="ping" id="ping">
                            </div>
                            <div class="name-school">
                                &nbsp; Lyon Ynov Campus
                            </div>
                        </a>
                    </div>
                    <div class="email-part">
                        <a href="mailto:emma.picard@ynov.com">
                            <div class="email-image">
                                <img src="/img/email.png" alt="email" id="email">
                            </div>
                            <div class="email">
                                &nbsp; emma.picard@ynov.com
                            </div>
                        </a>
                    </div>
                    <br>
                    <div class="social-network-part">
                        <div class="title-social-network">
                            Social networks
                        </div>
                        <div class="social-network">
                            <div class="linkedin">
                                <img src="/img/linkedin.png" alt="linkedin" id="linkedin">
                            </div>
                            <div class="github">
                                <img src="/img/github.png" alt="github" id="github">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-right-part">
                <div class="home-right">
                    <div class="my-picture">
                        <img src="/img/me.png" alt="emma-picard" id="emma-picard">
                    </div>
                </div>
            </div>
            <br>
        </div>
        <br>
        <br>
        <br>
        <div class="spacebar">
        </div>
        <br>
        <br>
        <br>
        <div class="square-about-me">
            <div class="about-me-left-part">
                <div class="word-cloud-image">
                    <img src="/img/word-cloud.png" alt="word-cloud" id="word-cloud">
                </div>
            </div>
            <div class="about-me-right-part">
                <div class="about-me-title">
                    ABOUT ME
                </div>
                <br>
                <br>
                <div class="about-me-text">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum."
                </div>
                <br>
                <div class="download-resume-button">
                    <div class="download-resume">
                        <a href="/img/CV.pdf" download="CV.pdf">
                            <div class="download">Download resume &nbsp;</div>
                        </a>
                        <img src="/img/white-download.png" alt="download" id="download">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="spacebar">
        </div>
        <br>
        <br>
        <br>
        <div class="square-projects">
            <!-- carroussel projects-->
        </div>
        <br>
        <br>
        <br>
        <div class="spacebar">
        </div>
        <br>
        <br>
        <br>
        <div class="square-contact">
            <div class="contact-title">
                CONTACT
            </div>
            <div class="content-data-contact">
                <div class="contact-left-part">
                    <div class="email-square">
                        <div class="image-email-contact">
                            <img src="/img/email-image-contact.png" alt="email-contact" id="email-contact">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="data-email">
                            <div class="email-title">
                                EMAIL
                            </div>
                            <a href="mailto:emma.picard@ynov.com"></a>
                            <div class="email-link">
                                &nbsp;emma.picard@ynov.com
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="social-square">
                        <div class="image-social-contact">
                            <img src="/img/social-image-contact.png" alt="social-contact" id="social-contact">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="data-social">
                            <div class="social-title">
                                SOCIAL NETWORKS
                            </div>
                            <div class="social-link">
                                <div class="linkedin">
                                    <img src="/img/linkedin.png" alt="linkedin" id="linkedin">
                                </div>
                                <div class="github">
                                    <img src="/img/github.png" alt="github" id="github">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="seperate-bar-contact">
                    <div class="bar-contact"></div>
                </div>
                <br>
                <br>
                <div class="contact-right-part">

                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="copyright-content">
            <div class="copyright">Copyright © 2023 Emma, all rights reserved. </div>
        </div>

    </div>
</body>

</html>