<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link href="https://fonts.cdnfonts.com/css/kodchasan" rel="stylesheet">
    <title>Emma Picard</title>
    <!--import script ici-->
</head>

<body>
    <div class="main">
        <div class="header">
            <div class="logo-portfolio">
                <img src="/img/logo-portfolio.png" alt="logo" id="logo-portfolio">
            </div>
            <div class="home-header">
                <p>HOME</p>
            </div>
            <div class="about-me-header">
                <p>ABOUT ME</p>
            </div>
            <div class="project-header">
                <p>PROJECT</p>
            </div>
            <div class="contact-header">
                <p>CONTACT</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="square-home">
            <div class="data-left-part">
                <div class="data-left">
                    <div class="name">
                        Emma Picard
                    </div>
                    <div class="status">
                        Computer science student
                    </div>
                    <br>
                    <br>
                    <div class="studying-place">
                        <a href="https://www.ynov.com/formation/bachelors/informatique/">
                            <div class="ping-image">
                                <img src="/img/ping.png" alt="ping" id="ping">
                            </div>
                            <div class="name-school">
                                &nbsp; Lyon Ynov Campus
                            </div>
                        </a>
                    </div>
                    <div class="email-part">
                        <a href="mailto:emma.picard@ynov.com">
                            <div class="email-image">
                                <img src="/img/email.png" alt="email" id="email">
                            </div>
                            <div class="email">
                                &nbsp; emma.picard@ynov.com
                            </div>
                        </a>
                    </div>
                    <br>
                    <br>
                    <div class="social-network-part">
                        <div class="title-social-network">
                            Social networks
                        </div>
                        <div class="social-network">
                            <div class="linkedin">
                                <img src="/img/linkedin.png" alt="linkedin" id="linkedin">
                            </div>
                            <div class="github">
                                <img src="/img/github.png" alt="github" id="github">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-right-part">
                <div class="data-right">
                    <div class="my-picture">
                        <img src="/img/me.png" alt="emma-picard" id="emma-picard">
                    </div>
                </div>
            </div>
            <br>

        </div>
    </div>


</body>

</html>