body {
    background-color: rgba(0, 0, 0, 0.25);
}

h1 {
    font-family: 'Kodchasan';
    color: white;
    font-weight: 100;
}

.aboutme-title {
    display: flex;
    justify-content: center;
    /* margin-bottom: 20px; */
}

.two-first-info {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.myself{
    display: flex;
    align-items: center;
}
.presentation{
    /* box-shadow: 0 0 11px rgba(33,33,33,.2); */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid #D7ECFF;
    border-radius: 20px;
    width: 650px;
    height: 300px;
    background-color: #D7ECFF;
    font-family: 'Kodchasan';
    color: black;
    font-weight: 100;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* transform: rotateY(180deg); */
    /* filter: drop-shadow(0 0 0.50rem #D7ECFF); */
}
.persentation:hover{
    transform: rotateY(180deg);
}
.description{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
/* .presentation:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
} */

.bitmoji {
    margin-left: 20px;
    margin-top: 40px;
    width: 150px;
}
.dossier{
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

.cv{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.curriculum-vitae{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid #ECD8D8;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    background-color: #ECD8D8;
    font-family: 'Kodchasan';
    color: black;
    font-weight: 100;
    text-align: center;
    /* filter: drop-shadow(0 0 0.50rem #E6D8EC); */

}

.three-bottom-info {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.envelope {
    width: 30px;
    height: 20px;
}

.mail {
    margin-top: -20px;
    transition: box-shadow .3s; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E6D8EC;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    background-color: #E6D8EC;
    font-family: 'Kodchasan';
    color: black;
    font-weight: 100;
    text-align: center;
}
.mail:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

.network {
    display: flex;
    justify-content: space-evenly
}

.social {
    transition: box-shadow .3s; 
    border: 1px solid #E6D8EC;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    background-color: #E6D8EC;
    font-family: 'Kodchasan';
    color: black;
    font-weight: 100;
    text-align: center;
}
.social:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.github {
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

.linkedin {
    margin-top: 2px;
    width: 35px;
    height: 35px;
}

.function {
    margin-bottom: -50px;
    display: flex;
    justify-content: space-around;
    transition: box-shadow .3s; 
    border: 1px solid #E6D8EC;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    background-color: #E6D8EC;
    font-family: 'Kodchasan';
    color: black;
    font-weight: 100;
    text-align: center;
}
.function:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.translation{
    display:flex;
    align-items: center;
}

.slider {
    width: 50px;
    height: 21px;
    position: relative;
    border-radius: 35px;
    background-color: black;
    margin: 0 auto;
  }
  
  .slider input[type=checkbox] {
    display: none;
  }
  
  .slider label {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: all 0.3s;
  }
  
  .slider input[type=checkbox]:checked + label {
    left: 30px;
  }
  .fr{
    margin-right: 8px;

  }
  .en{
    margin-left: 8px;

  }
  .light{
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  .dark{
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }
  .line{
    margin-left: 30px;
    height: 30px;
  }
  .light-mode{
    display: flex;
    margin-left: 25px;
  }
.search {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    border: 1px solid #F1EAE0;
    border-radius: 20px;
    width: 690px;
    height: 300px;
    background-color: #d2efdb;
    font-family: 'Kodchasan';
    color: black;
    font-weight: 100;
    text-align: center;
}
.seperate{
    display: flex;
    justify-content: center;
}

.trait {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-top: 90px;
    border: 1px solid white;
    width: 1063px;
}
.top-schoolprojects{
    margin-top: 50px;
}

.schoolprojects-title {
    display: flex;
    justify-content: center;
    /* margin-bottom: 20px; */
}

.three-projects {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.hangman-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.hangman {
    padding-top:30px;
    width: 66px;
    height: 66px;
}

.hangman-web {
    transition: box-shadow .3s;
    width: 300px;
    height: 200px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-family: 'Kodchasan';
    color: black;
    font-weight: 100;
    text-align: center;
}
.hangman-web:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}
.groupie-project {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groupie {
    padding-top:10px;
    width: 260;
    height: 106px;
}

.groupie-tracker {
    transition: box-shadow .3s;
    width: 300px;
    height: 200px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-family: 'Kodchasan';
    color: black;
    font-weight: 100;
    text-align: center;
}
.groupie-tracker:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.forum {
    transition: box-shadow .3s; 
    width: 300px;
    height: 200px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-family: 'Kodchasan';
    color: black;
    font-weight: 100;
    text-align: center;
}
.forum:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.copyright{
    font-family: 'Kodchasan';
    color:black ;
    font-weight: 100;
    text-align: center;
}